@using Microsoft.AspNetCore.Components.Authorization

<CascadingValue Value="@logged">
    <LabCascadingValues>

        <CascadingAuthenticationState>
            <Router AppAssembly="typeof(Program).Assembly" OnNavigateAsync="@OnNavigateAsync">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" >
                        <NotAuthorized>
                            <p>Brak dostępu</p>
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="routeData" Selector="h1" />
                </Found>
            </Router>
        </CascadingAuthenticationState>

    </LabCascadingValues>
</CascadingValue>


@code {

    private User logged => new User { Id = 1, FirstName = "John", LastName = "Smith", Email = "john@domain.com" };

    private async Task OnNavigateAsync(NavigationContext context)
    {

    }

}