@page "/counter"
@rendermode InteractiveServer
@inject ApplicationState ApplicationState

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @ApplicationState?.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    

    private void IncrementCount()
    {
        ApplicationState.CurrentCount++;
    }
}
