@page "/dashboard"

<h3>Dashboard</h3>

<CascadingValue Value="@logged">
    <CascadingValue Value="@customer">
        <CascadingValue Value="@measure">
            <CardItem />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {

    private string title = "Pojemność";
    private int capacity = 45;
    private string unit = "L";

    private Measure measure => new Measure(title, capacity, unit);

    private Customer customer => new Customer { Id = 1, Name = "GSK" };
    private User logged => new User { Id = 1, FirstName = "John", LastName = "Smith", Email = "john@domain.com" };


}
