@page "/dashboard"

<h3>Dashboard</h3>

<CascadingValue Value="@unit">
    <CascadingValue Value="@capacity">
        <CardItem />
    </CascadingValue>
</CascadingValue>


@code {

    private int capacity = 45;

    private string unit = "L";


}
