@page "/dashboard"

<h3>Dashboard</h3>


<CascadingValue Value="@unit" Name="a">
    <CascadingValue Value="@capacity">
        <CascadingValue Value="@title" Name="b">
            <CardItem />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>


@code {

    private int capacity = 45;

    private string unit = "L";

    private string title = "Pojemność";


}
