@page "/dashboard"

<h3>Dashboard</h3>


<CascadingValue Value="@measure">
    <CardItem />
</CascadingValue>

@code {

    private string title = "Pojemność";
    private int capacity = 45;
    private string unit = "L";

    private Measure measure => new Measure(title, capacity, unit);


}
