@page "/dashboard"

<h3>Dashboard</h3>

<CascadingValue Value="@logged">
    <LabCascadingValues>
        <CardItem />        
    </LabCascadingValues>    
</CascadingValue>

@code {

    private User logged => new User { Id = 1, FirstName = "John", LastName = "Smith", Email = "john@domain.com" };


}
