@using Domain.Models
<table class="table table-striped">

    <thead>
        <tr>
            @HeaderTemplate
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)               
            </tr>

        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="1">
                Quantity of items: @Items.Count()
            </td>

            <td />

        </tr>
    </tfoot>


</table>

@code {

    [Parameter, EditorRequired]
    public required IQueryable<Customer> Items { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<Customer> RowTemplate { get; set;  }




}
