

<progress max="100" value="@Value"></progress>
<p>@Value @Unit</p>

@code {

    [CascadingParameter]
    public int Value { get; set; }

    [CascadingParameter]
    public string Unit { get; set; }

}
