
<h5>@Title</h5>

<progress max="100" value="@Value"></progress>

<p>@Value @Unit</p>

@code {

    [CascadingParameter]
    public int Value { get; set; }

    [CascadingParameter(Name = "a")]
    public string Unit { get; set; }

    [CascadingParameter(Name = "b")]
    public string Title { get; set; }

}
