
<h5>@Measure.Title</h5>

<progress max="100" value="@Measure.Value"></progress>

<p>@Measure.Value @Measure.Unit</p>

@code {

    [CascadingParameter]
    public Measure Measure { get; set; }

    

}
